<!-- Header -->
<%- include('include/_header') %>
<!-- /Header -->

<!-- Main -->
<main class="container">
    <h2 class="text-success">Home Page</h2>
</main>
<!-- /Main -->

<!-- Footer -->
<%- include('include/_footer') %>
<!-- /Footer -->