<!-- Header -->
<%- include('include/_header') %>
<!-- /Header -->

<!-- Main -->
<main class="container" >
    <center><button class="btn btn-success"> Our Stores</button></center>
    
 <table width=“295” BGCOLOR="GRAY"  border=“3” cellpadding=“5”>

 
    <% for(var i = 0; i < result.length; i++) { %>
    
        <tr style="vertical-align:center"><td><%= result[i]%></td></tr>
        
    
<% } %></table>
</main>
<!-- /Main -->

<!-- Footer -->
<%- include('include/_footer') %>
<!-- /Footer -->