<!-- Header -->
<%- include('include/_header') %>
<!-- /Header -->

<!-- Main -->
<main class="container">
    <center><button class="btn btn-success"> Our Stores</button></center>
   
</main>
<!-- /Main -->

<!-- Footer -->
<%- include('include/_footer') %>
<!-- /Footer -->