<!-- Header -->
<%- include('include/_header') %>
<!-- /Header -->

<!-- Main -->
<main class="container" >
    <h1 class="text-center text-capitalize"><b class="text-center text-capitalize pl-3 pr-3" style="background-color: rgb(127, 221, 131);">Our Stores</b></h1>
 
    <table width=“295” BGCOLOR="#edb05d"  border=“3” cellpadding=“5” class="mt-5 m-5">
        <% for(var i = 0; i < result.length; i++) { %>
            <tr style="vertical-align:center">
                <td class="pl-5 pr-5"><h3><%= result[i]%></h3></td>
            </tr>
        <% } %>
    </table>
</main>
<!-- /Main -->

<!-- Footer -->
<%- include('include/_footer') %>
<!-- /Footer -->