<!-- Header -->
<%- include('include/_header') %>
<!-- /Header -->
<% for(var i = 0; i < result.length; i++) { %>
    
        <p><%= result[i]%></p>
        
    
<% } %>
<!-- Main -->
<main class="container">
    <center><button class="btn btn-success"> Our Stores</button></center>
   
</main>
<!-- /Main -->

<!-- Footer -->
<%- include('include/_footer') %>
<!-- /Footer -->