<!-- Header -->
<%- include('include/_header') %>
<!-- /Header -->

<!-- Main -->
<<<<<<< HEAD
<main class="container">
    <h2 class="text-success">Our Stores</h2>
=======
<main class="container" >
    <center><button class="btn btn-success"> Our Stores</button></center>
    
 <table width=“295” BGCOLOR="GRAY"  border=“3” cellpadding=“5”>

 
    <% for(var i = 0; i < result.length; i++) { %>
    
        <tr style="vertical-align:center"><td><%= result[i]%></td></tr>
        
    
<% } %></table>
>>>>>>> c66b4a7f81b45f598247b784e8dd404caa9b78cc
</main>
<!-- /Main -->

<!-- Footer -->
<%- include('include/_footer') %>
<!-- /Footer -->