<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title  %></title>
    <link rel="stylesheet" type="text/css" href="Css/bootstrap.css">
     <!-- ChatBot -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
     <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
     <link rel="stylesheet" type="text/css" href="css/style.css">
     <link rel="stylesheet" type="text/css" href="css/jquery.convform.css">
     <script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
     <script type="text/javascript" src="js/jquery.convform.js"></script>
     <script type="text/javascript" src="js/custom.js"></script>
    <style>
     body  {
       background-image:url(Img/background.jpg);
       background-repeat:repeat-y ; 
       background-size: cover;
      }
      h4{
                text-align: center;
                background-color: rgb(124, 177, 71);
                height: 30px;
                margin-bottom: 0;
        }
        .card a{
                border: none;
                outline: 0;
                padding: 8px;
                color: white;
                text-align: center;
                cursor: pointer;
                width: 100%;
                font-size: 18px;
              }
    </style>
    
</head>
<body>
   <header class="container m-5">
       <nav>
        <a href="/">
            <button class="btn btn-warning ml-5 mr-5 pl-5 pr-5">Home</button>
        </a>
        <a href="/Menu">
            <button class="btn btn-warning ml-5 mr-5 pl-5 pr-5">Menu</button>
        </a>
        <a href="/OurStores">
            <button class="btn btn-warning ml-5 mr-5 pl-4 pr-4">Our Stores</button>
        </a>
        <a href="/ContactUs">
        <button class="btn btn-warning ml-5 mr-5 pl-5 pr-5">Contact</button>
        </a>
       </nav>
   </header>
    