
    <tbody>
        <tr bgcolor="pink"><td>1</td><td>Chocolate icecraeam</td><td>2</td><td>120</td><td><a href="#" class="text-danger">X</a></td></tr>
        <tr bgcolor="pink"><td>2</td><td>Starwberry ice cream</td><td>1</td><td>70</td><td><a href="#" class="text-danger">X</a></td></tr>
        <tr bgcolor="pink"><td>3</td><td>Vanilla ice cream</td><td>3</td><td>50</td><td><a href="#" class="text-danger">X</a></td></tr>
        <tr bgcolor="pink"><td>4</td><td>Pista ice cream</td><td>1</td><td>60</td><td><a href="#" class="text-danger">X</a></td></tr>
    </tbody>
</table>
<div class="mt-2 mb-2">
    <button class="ml-5 mr-5 btn btn-danger">Submit</button>
    <span>Total : </span>
</div>